header {
    background-color: $color-secondary;
    & h1 {
        font-size: 23px;
        margin: 0;
        padding: 20px;
        color: $primary-font-color;
        @include tablette {
            font-size: 26px;
        }
        @include pc {
            font-size: 32px;
        }
        @include pc-xl {
            font-size: 36px;
        }
    }
    & nav {
        border-top: 2px solid $color-border;
        border-bottom: 2px solid $color-border;
        background-color: $color-secondary;
        margin-bottom: 10px;
        & a:hover {
            color: $primary-font-color!important;
            border-top: 1px solid $primary-font-color;
            border-bottom: 1px solid $primary-font-color;
        }
    }
}