section {
    & article {
        & h2 {
            font-size: 16px;
            font-weight: bold;
            font-style: italic;
            margin: 20px 1%;
        }
        & .posts {
            width: 90%;
            border: 2px solid $color-primary;
            border-radius: 20px;
            margin: 15px auto;
            & h2 {
                padding-bottom: 15px;
                border-bottom: 1px solid $color-primary;
            }
            & .post-field {
                margin: 0 2%;
            }
            & .post-infos {
                margin: 0 2%;
                padding-top: 15px;
                border-top: 1px solid $color-primary;
                @include tablette {
                    display: flex;
                    justify-content: space-between;
                }
                @include pc {
                    display: flex;
                    justify-content: space-between;
                }
                @include pc-xl {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        & .comments {
            width: 95%;
            border: 2px solid $primary-font-color;
            border-radius: 20px;
            margin: 15px auto;
        }
        & img {
            max-width: 100%;
            object-fit: cover;
        }
        & .comment-option {
            display: flex;
            justify-content: space-around;
        }
        & .bye {
            margin-top: 45px;
            font-size: 25px;
        }
    }
    & .btn {
        background-color: $color-primary;
        color: $secondary-font-color;
        margin-top: 30px;
    }
    & .btn-del {
        font-size: 22px;
        margin-top: 30px;
    }
}