footer {
    margin: 30px 0 0 0;
    @include tablette {
        margin: 50px 0 0 0;
    }
    @include pc {
        margin: 50px 0 0 0;
    }
    @include pc-xl {
        margin: 145px 0 0 0;
    }
    background-color: $footer;
    color: $secondary-font-color;
    & a {
        margin: 5px 0;
        text-align: center;
        color: $secondary-font-color;
        @include pc {
            font-size: 115%;
        }
        @include pc-xl {
            font-size: 125%;
        }
    }
    & #copyright {
        font-size: 1.2rem;
        color: $secondary-font-color;
    }
    & .container {
        padding: 35px;
    }
}