$color-primary: #c30000;
$color-secondary: whitesmoke;
$primary-font-color: #fd2d01;
$secondary-font-color: #ffffff;
$thirdary-font-color: black;
$color-border: #dfdfdf;
$footer: #931901;
$police-text: "Roboto";
$tablette-min: 768px;
$tablette-max: 1023px;
$pc-ecran-min: 1024px;
$pc-ecran-max: 1439px;
$pc-ecran-xl-min: 1440px;
$pc-ecran-xl-max: 1920px;